html, body{
    margin: 0;
    padding: 0;
}

#hero{
    font-family: poppins-regular;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 700px;
    background-color: green;
}

.card-login{
    padding: 10px 20px;
    text-align: center;
    width: 400px;
    min-height: 10px;
    border-radius: 10px;
    background-color: brown;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.48),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
}

.card-login-title{
    font-size: 25px;
}

.form{
    margin: 40px 0px;
}

.form-group{
    width: 100%;
    position: relative;
}

.label-static{
    padding: 0px 5px;
    color: gray;
    background-color: white;
    position: absolute;
    font-size: 14px;
    z-index: 1;
    top: -10px;
    left: 10px;
}

.form-control{
    outline: none;
    padding: 0px 10px;
    font-size: 15px;
    margin-bottom: 20px;
    width: 90%;
    height: 40px;
    border-radius: 5px;
    border: 1px #ebebeb solid;
}

.btn-cs{
    border: 0px;
    border-radius: 5px;
    color: white;
    width: 100%;
    height: 40px;
    font-size: 15px;
    background-color: white;
    cursor: pointer;
}